
table.table-bordered > thead > tr > th{
    border:1px solid black;
    text-align: center;
    min-width: 100px;
  	padding-top: 0px;
  	padding-bottom: 0px;
  	padding-left: 7px;
  	padding-right: 7px;
}

table.table-bordered > tbody > tr > td{
    border:1px solid black;
    padding-left: 7px;
  	padding-right: 7px;
    padding-top: 0px;
  	padding-bottom: 0px;
}
